/pseint-w64-portable/PryListaSimpleCanalesNros/build/
/pseint-w64-portable/PryListaSimpleCanalesNros/nbproject/private/
/Semana 06-20240515/PryListaSimpleCanalesNros/PryListaSimpleCanalesNros/build/
/Semana 06-20240515/PryListaSimpleCanalesNros/PryListaSimpleCanalesNros/nbproject/private/
/ProYectoMatriz/nbproject/private/
/ProYectoMatriz/build/
/ProYecMatriz2/nbproject/private/
/ProYecMatriz2/build/
/ProyecMatriz 3/nbproject/private/
/ProyecMatriz 3/build/
/PryPilaCanalesCaract/nbproject/private/
/PryPilaCanalesCaract/build/
/PryColaCanalesCarac/nbproject/private/
/PryEjercicios1y2/PryEjercicios1y2/build/
/PryEjercicios1y2/PryEjercicios1y2/nbproject/private/
/PryEjercicios3y4/PryEjercicios3y4/build/
/PryEjercicios3y4/PryEjercicios3y4/nbproject/private/
/Clase11/nbproject/private/
/Clase11/build/
