/pseint-w64-portable/PryListaSimpleCanalesNros/build/
/pseint-w64-portable/PryListaSimpleCanalesNros/nbproject/private/
/Semana 06-20240515/PryListaSimpleCanalesNros/PryListaSimpleCanalesNros/build/
/Semana 06-20240515/PryListaSimpleCanalesNros/PryListaSimpleCanalesNros/nbproject/private/
